aptos_sdk
python-dotenv
pathlib
pyyaml
toml
requests
eth-brownie
aptos-brownie
sui-brownie
ccxt==1.72.64
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
vyper>=0.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
